@media (max-width: 991px) {
    .header {
        justify-content: space-around;
    }
    .promo {
        &__wrapper {
            margin-right: 28px;
        }
    }
    .benefits {
        &__item {
            margin: 65px 16px;
        }
    }
    .consultation {
        padding-left: 30px;
    }
    .title {
        font-size: 32px;
    }
    .carousel {
        &__inner {
            width: 600px;
            img {
                width: 100%;
            }
            .slick-dots {
                display: flex;
                justify-content: space-evenly;
                margin-top: 20px;
                list-style-type: none;
                padding-left: 0;
                li {
                    button {
                        width: 15px;
                        height: 15px;
                        background-color: $main_color;
                        border-radius: 100%;
                        border: none;
                        color: $main_color;
                        font-size: xx-small;
                    }
                }
            }
        }
    }
    .catalog {
        &__content {
            justify-content: space-evenly;
        }
        &__tabs {
            align-items: center;
        }
    }
    .review {
        &__wrapper {
            max-width: 700px;
            margin: 0 auto;
            margin-top: 70px;
        }
    }
}

@media (max-width: 767px) {
    .header {
        &__logo {
            max-width: 220px;
        }
        &__official {
            display: none;
        }
    }
    .benefits {
        &__item {
            flex-direction: column;
            align-items: center;
        }
        &__icon {
            margin-top: 35px;
            max-width: 280px;
        }
    }
    .title {
        font-size: 25px;
    }
    .carousel {
        padding-bottom: 55px;
        &__inner {
            width: 400px;
            .slick-dots {
                margin-top: 55px;
            }
        }
    }
    .catalog {
        &__content {
            justify-content: space-evenly;
        }
        &__tabs {
            margin-top: 25px;
            height: 290px;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
        }
        &__content {
            margin-top: 35px;
        }
    }
    .review {
        padding: 0;
        &__wrapper {
            height: auto;
        }
        &__comment {
            flex-direction: column;
            align-items: center;
            margin-bottom: 71px;
        }
        &__text {
            margin-top: 30px;
            width: 450px;
        }
        &__descr {
            text-align: justify;
        }
    }
}

@media (max-width: 575px) {
    .header {
        &__logo {
            margin-top: 12px;
            max-width: 150px;
        }
        &__number {
            font-size: 13px;
        }
    }
    .button {
        width: 130px;
        &_main {
            width: 275px;
        }
    }
    .promo {
        &__title {
            font-size: 30px;
            text-align: end;
        }
        &__subtitle {
            font-size: 16px;
            text-align: end;
        }
        &__icons {
            margin-top: 50px;
            max-width: 275px;
        }
    }
    .benefits {
        &__item {
            margin-top: 35px;
        }
    }
    .title {
        text-align: center;
    }
    .consultation {
        padding: 100px 15px 92px 15px;
        &__descr {
            text-align: center;
        }
    }
    .feed-form {
        width: 286px;
    }
    .button {
        &_sumbit {
            width: 286px;
        }
    }
    .carousel {
        &__inner {
            width: 250px;
        }
    }
    .review {
        &__text {
            width: 250px;
            margin: 0 auto;
            margin-top: 30px;
        }
        &__descr {
            text-align: left;
        }
    }
}